<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight</title>
</head>
<body>
    <h4>All Flights</h4>
    {{ flights }}
    <ul>
        {% for flight in flights %}
            <li>{{ flight.destination }}</li>
        {% endfor %}
    </ul>


    <ul>
        {% for flight in flights %}
            <a href="update/{{ flight.id }}">
                <li>{{ flight.destination }}</li>
            </a>
        {% endfor %}
    </ul>

    <table border="1">
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for flight in flights %}
        <tr>
            <td> {{ flight.origin }} </td>
            <td> {{ flight.destination }} </td>
            <td> <a href="update/{{ flight.id }}"> Edit </a> </td>
            <td> <a href="delete/{{ flight.id }}"> Delete </a> </td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>